
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@100&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    font-weight: medium;
}


/* h3 {
   font-size: 15px;
} */

body{
    display: flex;
    justify-content:left; 
    min-height: 100vh;
    background: whitesmoke;
}

.navegacao{
    position: relative;
    height: relative;
    background:whitesmoke;
    width: 70px; /* mudar para 70px para efeito anterior */
    box-shadow: 10px 0 0 #FCA311;
    border-left: 10px solid whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
}

.navegacao:hover{
    width: 250px;
}

.navegacao ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.Vagas_opc{
    position: relative;
    text-decoration: none;
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    color: black;
    margin-bottom: 20px;
    
}
.icon{
    position: relative;
    display: flex;
    min-width: 50px;
    height: 20px;
    text-align: center;

}
.abrir_opc_vagas{
    position: relative;
    white-space: nowrap;
    background:whitesmoke;
} 

/* .abrir_opc_vagas:hover{
    width: 120px;
} */

.navegacao ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navegacao ul li a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navegacao ul li a .icone{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navegacao ul li a .icone ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navegacao ul li a .title{
    position: relative;
    display: block;
    padding-left: 0;
    height: 50px;
    line-height: 60px;
    white-space: nowrap;
}

.navegacao .active{
    background: #FCA311;
}

.navegacao ul li.active a::before{
    content: '';
    position: absolute;
    top: -25px;
    right: 0;
    width: 25px;
    height: 25px;
    background: whitesmoke;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #FCA311;
}

.navegacao ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -25px;
    right: 0;
    width: 25px;
    height: 25px;
    background: whitesmoke;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #FCA311;
}

/* Parte central da página */

.parte_central{
    position:absolute;
    background: #ffffff;
    width:62%;
    height: 100%;
    left: 260px;
}
.parte_central h2{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
    color: #14213D;
}

.parte_central .secao1{
    position: relative;
    margin-left: 27.5px;
    display: inline-block;
    width: 380px;
    border-top: 10px solid #FCA311;
    padding-top: 20px; 
    padding-bottom: 20px; 
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 5px #000000;
    border-radius: 5px;
    text-decoration: none;
}
.parte_central .secao1 a{
    position: relative;
    display: block;
    color: #000000;
    background: #E5E5E5;
    text-decoration: none;
    text-align: center;
    font-weight: medium;
    border-radius: 5px;
    border: 2px solid;
}

.parte_central  .secao2 {
    position: relative;
    display: inline-block;
}