@import url('https://fonts.googleapis.com/css2? family= Fira+Sans+Extra+Condensed:wght@100 &family= Roboto:wght@300;400 & display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body * {
    box-sizing: border-box;
}

/*Fundo*/
.main-login{
    width: 100vw;
    height: 100vh;
    background: #f2eff8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    font-size: 3vw;
    color: #000000;
}

.left-login-image{
    width: 45vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

/**/
.card-login{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 130px 45px;
    background:#99999900;
    border-radius: 60px;
    box-shadow: 0px 10px 40px #0000001f;

}

.card-login > h1 {
    color: #333333;
    font-weight: 500;
    margin: 0%;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: nome;
    border-radius: 10px;
    padding: 15px;
    background: #2a292a;
    color: #f0ffffde;
    font-size: 12pt;
    box-sizing: 0px 10px 40px #1e1e1e56;
    outline: none;
    box-sizing: border-box;

}

.textfield > label{
    color: #656565de;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #b3b3b3;

}

.btn-login{
    width: 450px;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    /*color: #b00cb0;*/
    background: #f8fae3cd;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00000052;

}
.btn-cadastro{
    width: 450px;
    padding: 16px 0px;
    margin: 25px;
    margin-bottom: -60px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    /*color: #bfbfbf;*/
    background: #f8fae3cd;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00000052;

}
a{
    text-decoration: none;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%

    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 80vw;

    }
    .card-login{
        width: 90%;
    }
}